.ant-carousel .slick-slide {
  text-align: center;
  overflow: hidden;
}
.my-carousel {
  margin: auto;
  height: 90vh;
}
.my-carousel img {
  margin: auto;
  height: 90vh;
}
.my-carousel button {
  background-color: black !important;
  border: 1px solid white !important;
  height: 4px !important;
}

/* Card */
.card .ant-card-body {
  padding: 12px;
}
.big-card {
  width: 314px;
  height: 481px;
  border-radius: 4px;
  display: inline-block;
}
.small-card {
  display: inline-block;
  width: 251px;
  height: 410px;
}
.big-card .img-container {
  width: 290px;
  height: 335px;
}
.small-card .img-container {
  width: 227px;
  height: 264px;
}
.big-card img {
  width: 288px;
  height: 324px;
}
.small-card img {
  width: 224px;
  height: 249px;
}
.card .content {
  text-align: center;
}
.card-title {
  font-size: 16px;
  color: black;
  display: block;
}
.card .rate {
  margin-top: 5px;
  font-size: 12px;
  display: block;
}
.price {
  margin-top: 7px;
  display: block;
  color: #dd2323;
  font-weight: bold;
  font-size: 16px;
}
.card-button {
  margin-top: 14px;
}

/* Headline */
.headline {
  color: #eff3f6;
  border-left: 8px solid hsl(240, 70%, 86%);
  font-size: 18px;
  padding: 7px;
  background-color: rgba(20, 80, 145, 0.8);
}
.boundary {
  border-radius: 4px;
  margin: 50px;
  padding: 12px;
}
.list-item {
  list-style-type: none;
}
.list-item li {
  display: inline-block;
  margin: 10px;
  margin-bottom: 14px;
}
.rate li {
  margin: 10px 0;
}

@media only screen and (max-width: 900px) {
  .boundary {
    margin: 12px;
  }
  .list-item {
    padding: 0;
  }
}
@media only screen and (max-width: 400px) {
  .list-item li {
    margin: 0;
  }
}

/* Detail page */
.short-detail::after {
  content: "";
  clear: both;
  display: table;
}
.img-group {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.img-group li {
  margin: 7px;
  width: 80px;
  height: 80px;
  display: inline-block;
  cursor: pointer;
}
.img-group img {
  width: 80px;
  height: 80px;
}

.summary-detail {
  float: left;
  margin-left: 14px;
  padding: 14px;
  min-width: 300px;
  max-width: 60%;
}
.read-content {
  width: 40em;
  margin: auto;
}

/* Cart page */
.pay-btn {
  text-transform: uppercase;
  margin: 24px 0;
}
