/* Navbar */
.navbar {
  position: relative;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  background: hsl(240, 56%, 55%); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    hsl(240, 72%, 55%),
    hsl(240, 56%, 65%)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    hsl(240, 72%, 55%),
    hsl(240, 46%, 65%)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar::after {
  content: "";
  clear: both;
  display: table;
}
.navbar a {
  font-size: 14px;
}
.navbar .ant-menu-item a {
  color: hsl(240, 33%, 90%) !important;
}
.navbar .ant-menu-item a:hover {
  color: hsl(240, 10%, 94%) !important;
}
.navbar .ant-menu-item-selected a {
  color: white !important;
}
.navbar .ant-menu-item-selected {
  border-bottom: 2px solid rgba(88, 236, 226, 0.897) !important;
  background-color: transparent !important;
}
.navbar .ant-menu-item:hover {
  border-bottom: none;
}
.navbar .ant-menu {
  border-bottom: 0 !important;
}
/* First floor */
.navbar .float-right {
  float: right;
  display: block;
  background-color: transparent;
}
/* Second floor */
.navbar .second-floor {
  text-align: center;
  clear: both;
}
.navbar .second-floor > ul {
  padding-top: 10px;
  background: hsl(240, 56%, 55%); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    hsl(240, 72%, 55%),
    hsl(240, 56%, 65%)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    hsl(240, 72%, 55%),
    hsl(240, 46%, 65%)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar .logo {
  color: #aef0fc;
  margin-left: 14px;
  font-size: 24px;
  cursor: pointer;
}
.navbar .cart {
  color: #aef0fc;
  font-size: 24px;
  margin-left: 24px;
  cursor: pointer;
}
.navbar .cart-2 {
  display: none;
}
.navbar .search {
  margin-left: 24px;
  min-width: 150px;
  max-width: 55%;
}
.navbar .search-button {
  color: #537982;
  cursor: pointer;
}
.navbar .sticky {
  position: fixed;
  top: 0px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .navbar .auto-hide {
    display: none;
  }
  .navbar .search {
    display: block;
    margin: auto;
  }
  .navbar .cart-1 {
    display: none;
  }
  .navbar .cart-2 {
    display: inline-block;
  }
}
.transparent {
  background-color: transparent;
}

/* Footer */
.footer {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 14px;
  width: 100%;
  background: hsl(240, 56%, 55%); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    hsl(240, 72%, 55%),
    hsl(240, 56%, 65%)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    hsl(240, 72%, 55%),
    hsl(240, 46%, 65%)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Form */
.login-container-fluid {
  width: 100%;
  height: 700px;
  position: relative;
}
.login-form-container {
  background-color: white;
  width: 360px;
  height: 360px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-form-container .title {
  text-align: center;
  margin: 24px auto !important;
}
.login-form {
  width: 340px;
  height: 340px;
  margin: 0 auto;
}
.form-button {
  width: 50%;
}

@media only screen and (max-width: 360px) {
  .login-container-fluid {
    height: 500px;
  }
  .login-form-container {
    width: 340px;
  }
  .login-form {
    width: 320px;
  }
}
/* Register */
.register-container-fluid {
  width: 100%;
  height: 1000px;
  position: relative;
}

.register-form-container {
  background-color: white;
  width: 500px;
  height: 650px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.register-form-container .title {
  text-align: center;
  margin: 24px auto !important;
}
.register-form {
  width: 400px;
  height: 800px;
  margin: 0 auto;
}

.avatar-uploader {
  display: grid;
  justify-content: center;
}

@media only screen and (max-width: 360px) {
  .register-form-container {
    width: 340px;
    height: 850px;
  }
  .register-form {
    width: 320px;
  }
}

/* Process */
.process {
  padding: 24px;
}
