/* Layout */
.ant-layout-header {
  padding: 0;
}

.ant-layout-content {
  margin-top: 50px;
}

.container {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  background-color: white;
}

.title {
  color: #3696ff;
  font-size: 24px;
}

/* style system */

/* payment */
.payment-process {
  max-width: 1013px;
  min-width: 700px;
  margin: auto;
}
.address-list {
  width: 700px;
  margin: auto;
}

.mt-24 {
  margin-top: 24px !important;
}
.mb-24 {
  margin-bottom: 24px !important;
}
.mr-24 {
  margin-right: 24px !important;
}
.mt-36 {
  margin-top: 36px !important;
}
.mb-36 {
  margin-bottom: 36px !important;
}
.mr-36 {
  margin-right: 36px !important;
}
.mr-48 {
  margin-right: 48px !important;
}
.mt-48 {
  margin-top: 48px !important;
}
.mt-64 {
  margin-top: 64px !important;
}
.mr-80 {
  margin-right: 80px !important;
}
.mg-auto {
  margin: auto;
}
.grid {
  display: grid;
}
.center {
  text-align: center;
}
.inline-block {
  display: inline-block;
}
.uppercase {
  text-transform: uppercase;
}
.space-between {
  justify-content: space-between;
}
.active {
  border: 1px solid #7b7be3;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

/* address */
.address-card {
  width: 600px;
  border-radius: 10px;
}

.group-button-center {
  width: 300px;
  margin: auto;
}
.active:hover {
  border: 1px solid #7b7be3;
  border-radius: 10px;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.bold {
  font-weight: bold;
}
.number {
  text-align: right;
}
/* Payment method */
.card-atm {
  width: 250px;
  height: 140px;
  text-align: center;
  vertical-align: center;
  border-radius: 10px;
}
.method-container {
  width: 600px;
  margin: auto;
}

/* Confirmation */
.confirmation {
  max-width: 900px;
  margin: auto;
}
.card-summary {
  border-radius: 10px;
  max-width: 600px;
}
.summary {
  width: 200px;
}
.btn-confirm {
  width: 100%;
}
